In [6]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

spark = (SparkSession.builder
    .appName("Example DataFrame")
    .getOrCreate()
)

In [4]:
# Create a list of rows
from pyspark.sql import Row

data = [
    Row(name="Alice", age=30),
    Row(name="Bob", age=25),
    Row(name="Cathy", age=27)
]

# Convert the list to a DataFrame
df = spark.createDataFrame(data)

df.show()

+-----+---+
| name|age|
+-----+---+
|Alice| 30|
|  Bob| 25|
|Cathy| 27|
+-----+---+